<% include ./share/header.ejs %>
<div class="row">
    <div class="col-md-2 mb-md-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-secondary btn-lg btn-block" href="/"><i class="fas fa-home"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-md-3">
    <div class="py-2 text-center">
      <h2>Cadastros</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/modulos-list">Módulos</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/materias-list">Matérias</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/licoes-list">Lições</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/membros-list">Membros</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/professores">Professores</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/saladeaula">Sala de aula</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/matriculas">Matrículas</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/usuarios">Usuários</a>
  </div>
  <div class="col-md-6 mb-3">
    <a class="btn btn-secondary btn-lg btn-block" href="/igrejas">Igrejas</a>
  </div>
</div>
<% include ./share/footer.ejs %>