<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/ebd/relatorios"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-3">
    <div class="py-2 text-center">
      <h2>Presenças</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group">
            <input type="date" class="form-control" id="diadeaula_relatorio" value="<%=dia%>" name="diadeaula" required>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btn_diadeaula_relatorio">Pesquisar</button>
            </div>
        </div>
    </div>
  </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sala</th>
        <th scope="col" class="text-center">Pre.</th>
        <th scope="col" class="text-center">Aus.</th>
        <th scope="col" class="text-center">Vis.</th>
        <th scope="col" class="text-center">Tot.</th>
      </tr>
    </thead>
    <tbody id="relatorio_presenca">
    </tbody>
  </table>
  <% include ./share/footer.ejs %>