<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/admin/ebd/relatorios"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-3">
    <div class="py-2 text-center">
      <h2>Aniversariantes</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col" class="col">Nome</th>
        <th scope="col" class="col-1 text-center">Aniversário</th>
      </tr>
    </thead>
    <tbody>
      <%for(var row in aniversariantes){%>
        <tr>
          <td><%=aniversariantes[row].nome%></td>
          <td class="text-center"><%=aniversariantes[row].aniversario_pt%></td>
        </tr>
      <%}%>
    </tbody>
  </table>