<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/ebd/relatorios"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-3">
    <div class="py-2 text-center">
      <h2>Relatório de Aniversáriantes</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Idade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jesis em tua presença</td>
        <td>25.02.1986</td>
        <td>33</td>
      </tr>
      <tr>
          <td>Jesis em tua presença</td>
          <td>25.02.1986</td>
          <td>33</td>
      </tr>
      <tr>
          <td>Jesis em tua presença</td>
          <td>25.02.1986</td>
          <td>33</td>
      </tr>
    </tbody>
  </table>