<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 col-6 mb-md-3 order-0">  
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 col-12 mb-md-3 order-md-1 order-3">  
    <div class="py-2 text-center">
      <h2>
        Geração Futuro
      </h2>
    </div>
  </div>
  <div class="col-md-2 col-6 mb-md-3 order-2">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/geracao_futuro"><i class="fas fa-user-plus"></i></a>
    </div>
  </div>
</div>
<form class="needs-validation" novalidate method="post" action="/diadeaula">
  <div class="row">
    <div class="col-md-3 mb-3">
        <label for="gf_diadeaula">Data da aula</label>
        <input type="date" class="form-control" id="gf_diadeaula"  name="gf_diadeaula" required>
    </div>
    <div class="col mb-3">
      <label for="licaoId">Lição:</label>
      <select class="custom-select d-block w-100" name="licaoId" id="licaoId" required>
        <%for(var row in licoes){%>
          <%if(licoes[row].id > 0){%>
            <option value="<%=licoes[row].id%>">
              <%=licoes[row].licao%>
            </option>
          <%}%>    
        <%}%>
      </select>
      <div class="invalid-feedback">
        Escolha o módulo.
      </div>
    </div>
  </div>

  <div class="row">
    <input type="text" id="saladeaulaId" name="saladeaulaId" hidden>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <table class="table" id="tableGeracaoFuturo">
        <thead>
          <tr>
            <th scope="col" width="90%" onclick="sortTable(0,'tableGeracaoFuturo')">Nome</th>
            <th scope="col" width="10%" onclick="sortTable(0,'tableGeracaoFuturo')">Presença</th>
          </tr>
        </thead>

        <tbody id="gf_presentesdodia">
        </tbody>
      </table>
    </div>
  </div>
  <hr class="mb-4">
  <div class="row">
    <div class="col-6 mb-3">
      <!-- <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block btnGravar" id="btnLicao" >Gravar</a> -->
      <button type="submit" class="btn btn-primary btn-lg btn-block btnGravar" >Gravar</button>
    </div>
    <div class="col-6 mb-3">
      <button class="btn btn-danger btn-lg btn-block" type="reset">Cancelar</button>
    </div>
  </div>
</form>

<% include ./share/footer.ejs %>