<% include ./share/header.ejs %>
  <div class="py-4 text-center">
    <h2>Igreja Presbiteriana de Petrópolis</h2>
    <!-- <p class="lead">Below is an example.</p> -->
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <a class="btn btn-secondary btn-lg btn-block" href="/cadastros">Cadastros</a>
    </div>
    <div class="col-md-6 mb-3">
      <a class="btn btn-secondary btn-lg btn-block" href="/ebd">EBD</a>
    </div>
  </div>
<% include ./share/footer.ejs %>  