<% include ./share/header.ejs %>
  <div class="py-4 text-center">
    <h2>Igreja Presbiteriana de Petrópolis</h2>
    <!-- <p class="lead">Below is an example.</p> -->
  </div>

  <div class="row">
    <% if (access == 1){%>
      <div class="col-md mb-3">
        <a class="btn btn-secondary btn-lg btn-block" href="/cadastros">Cadastros</a>
      </div>
    <%}%>
    <% if ((access == 1) || (access == 2)){%>
      <div class="col-md mb-3">
        <a class="btn btn-secondary btn-lg btn-block" href="/ebd">EBD</a>
      </div>
    <%}%>
  </div>
<% include ./share/footer.ejs %>  