<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-md-3 order-0">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/cadastros"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-md-3 order-1 secound">
    <div class="py-2 text-center">
      <h2>Membresia</h2>
    </div>
  </div>
  <div class="col-md-2 mb-md-3 order-2">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/membros"><i class="fas fa-file"></i></a>
    </div>
  </div>
</div>
<% include ./share/msg.ejs %>
<div class="row">
  <div class="col-12 mb-3">
    <!-- <label for="nome">Nome:</label> -->
    <input type="text" class="form-control" name="pesquisaMembro" id="pesquisaMembro" placeholder="Informe o nome para a pesquisa...">
  </div>
</div>
<table class="table table-hover" id="membros-list">
  <!-- <thead>
    <tr>
      <th scope="col" class="col">Nome</th>
      <th scope="col" class="col-1"></th>
    </tr>
  </thead> -->
  <tbody>
    <%for(var row in data){%>
    <tr>
      <td class="col">
        <%=data[row].nome%>
      </td>
      <td class="col-1"><a href="/membros-edit/<%=data[row].id%>" class="btn btn-outline-danger">Editar</a></td>
      <%}%>
  </tbody>
</table>

<% include ./share/footer.ejs %>