<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-md-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/modulos-list"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-md-3">
    <div class="py-2 text-center">
      <h2>Novo Módulo</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>
<% if (message.length > 0) { %>
  <div class="<%= message[0] %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <%= message[1] %>
  </div>
<% } %>
<form class="needs-validation" novalidate id="formModulo" method="POST" action="/modulos">
  <div class="row">
    <div class="col-md-8 col-12 mb-3">
      <label for="modulo">Módulo:</label>
      <input type="text" class="form-control" name="modulo" id="modulo" required>
      <div class="invalid-feedback">
        Informe o nome do módulo.
      </div>
    </div>
    <div class="col-md-3 col-9 mb-3 ">
      <label for="grupoensino">Grupo de Ensino:</label>
      <select class="custom-select d-block w-100" name="grupoensino" id="grupoensino" required>
        <option value="">Escolha uma opção...</option>
        <option value="EBD" >Escola Dominical</option>
        <option value="GFU">Geração Futuro</option>
      </select>
      <div class="invalid-feedback">
        Escolha o tipo de ensino.
      </div>
    </div>
    <div class="custom-control custom-checkbox col-md-1 col-2" style="margin-top:37px;">
      <input type="checkbox" class="custom-control-input" id="ativo" name="ativo">
      <label class="custom-control-label" for="ativo">Ativo</label>
    </div>
  </div>
  <hr class="mb-4">
  <div class="row">
    <div class="col-6 mb-3">
      <!-- <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block btnGravar" id="btnModulo" >Gravar</a> -->
      <button class="btn btn-primary btn-lg btn-block btnGravar" type="submit" >Salvar</button>
    </div>
    <div class="col-6 mb-3">
      <button class="btn btn-danger btn-lg btn-block" type="reset">Cancelar</button>
    </div>
  </div>
</form>
<% include ./share/footer.ejs %>